body {
    background-color: black;
    color: white;

}

.box ::placeholder {
    color: #fff;
}

body p {

    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 1.5em;
    position: relative;
    top: 50px;
    z-index: 1;

}

.box a {
    color: #fff;
}

.box {

    width: 500px;

    padding: 40px;

    position: absolute;

    color: white;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    background: rgb(73, 78, 82);

    text-align: center;

}

.box h1 {

    color: white;

    text-transform: uppercase;

    font-weight: 500;

}

.box input[type="text"], .box input[type="password"] {

    border: 0;

    background: none;

    display: block;

    margin: 20px auto;

    text-align: center;

    border: 2px solid #3498db;

    padding: 14px 10px;

    width: 200px;

    outline: none;

    color: white;

    border-radius: 24px;

    transition: 0.25s;

}

.box input[type="text"]:focus, .box input[type="password"]:focus {

    width: 380px;

    border-color: #2ecc71;

}



.box input[type="submit"] {

    border: 0;

    background: none;

    display: block;

    margin: 20px auto;

    text-align: center;

    border: 2px solid #2ecc71;

    padding: 14px 40px;

    outline: none;

    color: white;

    border-radius: 24px;

    transition: 0.25s;

    cursor: pointer;

}



.box input[type="submit"]:hover {

    background: #2ecc71;

}

/* registersai */

.box input[type="register"]:hover {

    background: #2ecc71;

}

.box input[type="register"] {

    border: 0;

    background: none;

    display: block;

    margin: 20px auto;

    text-align: center;

    border: 2px solid #2ecc71;

    padding: 14px 40px;

    outline: none;

    color: white;

    border-radius: 24px;

    transition: 0.25s;

    cursor: pointer;

}

/* tambah */

.box input[type="submit"]:hover {

    background: #2ecc71;

}

.box input[type="submit"] {

    border: 0;

    background: none;

    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

}

.box input[type="number"] {

    border: 0;

    background: none;

    display: block;

    margin: 20px auto;

    text-align: center;

    border: 2px solid #3498db;

    padding: 14px 10px;

    width: 200px;

    outline: none;

    color: white;

    border-radius: 24px;

    transition: 0.25s;

}

.box input[type="number"]:focus {

    width: 380px;

    border-color: #2ecc71;

}

.box input[type="file"] {

    border: 0;

    background: none;

    display: block;

    margin: 20px auto;

    text-align: center;

    border: 2px solid #3498db;

    padding: 14px 10px;

    width: 200px;

    outline: none;

    color: white;

    border-radius: 24px;

    transition: 0.25s;

}

.box input[type="file"]:focus {

    width: 380px;

    border-color: #2ecc71;

}

@media (max-width: 575.98px) {
    .box {
        width: 100%;
        height: auto;
    }

    .box input[type="text"], .box input[type="password"] {
        width: 100%;
    }

    .box input[type="text"]:focus, .box input[type="password"]:focus {

        width: 180px;

        border-color: #2ecc71;

    }



}